<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--启动页-->
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--引导页-->
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait" />
        <!--登录页-->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <!--主页-->
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <!--搜索页-->
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />
        <!--商品搜索页-->
        <activity
            android:name=".activity.SearchGoodsActivity"
            android:screenOrientation="portrait" />
        <!--商品详情页-->
        <activity
            android:name=".activity.GoodsInfoActivity"
            android:screenOrientation="portrait" />
        <!--购物车-->
        <activity
            android:name=".activity.CartActivity"
            android:screenOrientation="portrait" />
        <!--确认订单-->
        <activity
            android:name=".activity.ConfirmOrderActivity"
            android:screenOrientation="portrait" />
        <!--我的订单-->
        <activity
            android:name=".activity.MyOrderActivity"
            android:screenOrientation="portrait" />
        <!--订单详情-->
        <activity
            android:name=".activity.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <!--关于我们-->
        <activity
            android:name=".activity.AboutAsActivity"
            android:screenOrientation="portrait" />
        <!--发帖-->
        <activity
            android:name=".activity.CirclePostingActivity"
            android:screenOrientation="portrait" />
        <!--地址管理-->
        <activity
            android:name=".activity.AddressManageActivity"
            android:screenOrientation="portrait" />
        <!--地址编辑-->
        <activity
            android:name=".activity.AddressEditActivity"
            android:screenOrientation="portrait" />
        <!--用户注册-->
        <activity
            android:name=".activity.RegisterUserActivity"
            android:screenOrientation="portrait" />
        <!--找回密码-->
        <activity
            android:name=".activity.UpdatePwdActivity"
            android:screenOrientation="portrait" />
        <!--设置-->
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <!--用户资料-->
        <activity
            android:name=".activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <!--帖子列表页-->
        <activity
            android:name=".activity.CircleListActivity"
            android:screenOrientation="portrait" />
        <!--帖子详情页-->
        <activity
            android:name=".activity.CircleDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!--apk安装权限-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.com.test.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>